html,
body {
    height: 100%;
}

a {
    color: #28a745;
}

a:hover {
    color: #ffc107
}

.boxed {
    max-width: 750px;
}

.spacious-card{
    padding: 2rem;
}

/* Button and controllers*/
.batch .btn-update {
    display: inline-block;
    margin-left: 20px;
}

.navbar .btn-logout {
    float: right;
}

#next-button {
    display: none;
}

.standby {
    background-color: #cecece;
}

.standby i {
    animation: rotate 2s linear infinite;
}

.standby i::before {
    content: "\f110";

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Footer */
#footer {
    /*position: absolute;*/
    bottom: 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

#footer a {
    display: inline-block;
    padding: 0px 8px;
}

#footer .col-md-6 {
    padding-left: 0px;
}

.btn-logout {
    display: inline-block;
    padding: 3px 10px;
}

.btn-logout {
    margin-left: 10px;
}

p.tou-description {
    font-size: 1em;
    color: #444;
    margin-top: 24px;
    opacity: .8;
}
span.highlight{
    color: #000;
    font-weight: bold;
}

.lexeme-attribute {
    background: #f4f5f7;
    padding: 10px 30px;
    margin-bottom: 15px;
}

.actions a.btn-delete.hidden{
    opacity: 0;
    pointer-events: none;
}
